<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li>
        </ul>
    </nav>
    <div class="events-container">
        <h1>Upcoming Events</h1>
        <div class="create-event-container">
            <a href="{{ url_for('create_event') }}" class="create-event-button">Create Event</a>
        </div>
        <div class="events-list">
            {% for event in events %}
            <div class="event-card">
                <a href="{{ url_for('event_detail', event_name=event['slug']) }}" class="event-button">
                    {{ event['title'] }}
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
