<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ event['title'] }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li>
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register_mentor') }}">Register mentor</a></li>
            <li><a href="{{ url_for('register_user') }}">Register user</a></li>
        </ul>
    </nav>
    <div class="event-detail-container">
        <h1>{{ event['title'] }}</h1>
        <p>{{ event['description'] }}</p>
        <a href="{{ url_for('events') }}" class="back-button">Back to Events</a>
    </div>
</body>
</html>
