<!DOCTYPE html>
<html>
<head>
    <title>LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('main_page') }}">Home</a></li>
            <li><a href="{{ url_for('profile') }}">Profile</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li>
            <li><a href="{{ url_for('login') }}">Log in</a></li>
            <li><a href="{{ url_for('register_mentor') }}">Register mentor</a></li>
            <li><a href="{{ url_for('register_user') }}">Register user</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Login</h1>

    </div>
</body>
</html>

