<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='nav_style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='buttons_main_page_style.css') }}">

    </head>
    <body>

        <nav>
            <ul>
                <li><a href="{{ url_for('main_page') }}">Home</a></li>
                <li><a href="{{ url_for('profile') }}">Profile</a></li>
                <li><a href="{{ url_for('events') }}">Events</a></li>
                <li><a href="{{ url_for('login') }}">Log in</a></li>
                <li><a href="{{ url_for('register_mentor') }}">Register mentor</a></li>
                <li><a href="{{ url_for('register_user') }}">Register user</a></li>
            </ul>
        </nav>

        <div class="container">
            <h1>Main Page</h1>
            <div class="button-container">
                <a class="button" href="{{ url_for('login') }}">I already have an account</a>
                <a class="button" href="{{ url_for('register_user') }}">I want to find a mentor</a>
                <a class="button" href="{{ url_for('register_mentor') }}">I want to help people</a>
            </div>
        </div>

        <script src="{{ url_for('static', filename='app.js') }}"></script>
    </body>
</html>
